{%- import "macros/url.html" as url -%}
{%- set schedule = load_data(path="content/schedule.toml") %}

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url::stylesheet(name="main") }}" />
    <link
      rel="icon"
      href="{{ url::with_hash(path="manifest/favicon.ico") }}"
      sizes="any"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url::with_hash(path="manifest/apple-touch-icon.png") }}"
    />
    <link
      rel="manifest"
      href="{{ url::with_hash(path="manifest/site.webmanifest") }}"
    />
    <meta name="description" content="{{ config.extra.meta.description }}" />
    <meta name="keywords" content="{{ config.extra.meta.keywords }}" />
    <meta property="og:url" content="{{ config.base_url | safe }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:site_name" content="{{ config.title }}" />
    <meta property="og:description" content="{{ config.extra.meta.description }}" />
    <meta property="og:image" content="{{ url::image(name="logo", extension="svg") }}" />
    <meta property="og:image:type" content="image/svg+xml" />
    <meta property="og:image:alt" content="Linux Day logo" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="{{ config.base_url | safe }}" />
    <meta name="twitter:title" content="{{ config.title }}" />
    <meta name="twitter:description" content="{{ config.extra.meta.description }}" />
    <meta name="twitter:image" content="{{ url::image(name="logo", extension="svg") }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  </head>
  <body>
    <header>
      <div id="header-container" class="container">
        <img
          id="header-logo"
          src="{{ url::image(name="logo", extension="svg") }}"
          alt="Linux Day Logo"
          />
        <div id="header-content">
          <h1>
            <span id="header-title-top">Linux Day</span>
            <span id="header-title-bottom">
              Messina {{ config.extra.event.year }}
            </span>
          </h1>
          <p id="header-subtitle" role="doc-subtitle">
            Giornata nazionale del software libero e delle libertà digitali
          </p>
        </div>
      </div>
    </header>
    <section id="quick-info">
      <div id="quick-info-container" class="container">
        <div class="quick-info-entry icon-group">
          <img
            src="{{ url::icon(name="calendar") }}"
            alt="Data"
            class="icon"
          />
          <p class="label">
            {{ config.extra.event.date }}
          </p>
        </div>
        <div class="quick-info-entry icon-group">
          <img
            src="{{ url::icon(name="location") }}"
            alt="Luogo"
            class="icon"
          />
          <p class="label">
            {{ config.extra.event.location }}
          </p>
        </div>
        <div class="quick-info-entry icon-group">
          <img
            src="{{ url::icon(name="location-2") }}"
            alt="Aula"
            class="icon"
          />
          <p class="label">
            {{ config.extra.event.location_extra }}
          </p>
        </div>
        <div class="quick-info-entry icon-group">
          <img
            src="{{ url::icon(name="receipt") }}"
            alt="Iscrizione"
            class="icon"
          />
          <p class="label">
            <a href={{ config.extra.event.eventbrite_url }}>
              Iscriviti!
            </a>
          </p>
        </div>
      </div>
    </section>
    <section id="schedule">
      <div id="schedule-container" class="container">
        <h1>Programma</h1>
        <div id="schedule-content">
          <section id="schedule-talks">
            <h2>Interventi</h2>
            <article class="schedule-entry">
              <p class="schedule-time">{{ schedule.intro.time }}</p>
              <p class="schedule-title">{{ schedule.intro.title }}</p>
            </article>
            {%- for talk in schedule.talks -%}
            <article class="schedule-entry">
              <p class="schedule-time">{{ talk.time }}</p>
              <p class="schedule-title">{{ talk.title }}</p>
              <p class="schedule-author">
                A cura di
                <span class="schedule-author-name">{{ talk.author }}</span>
              </p>
            </article>
            {%- endfor -%}
            <article class="schedule-entry">
              <p class="schedule-time">{{ schedule.lunch.time }}</p>
              <p class="schedule-title">{{ schedule.lunch.title }}</p>
            </article>
          </section>
          <section id="schedule-workshops">
            <h2>Workshop</h2>
            {%- for workshop in schedule.workshops -%}
            <article class="schedule-entry">
              <p class="schedule-room">{{ workshop.room}}</p>
              <p class="schedule-time">{{ workshop.time }}</p>
              <p class="schedule-title">{{ workshop.title }}</p>
              <p class="schedule-author">
                A cura di
                <span class="schedule-author-name">{{ workshop.author }}</span>
              </p>
            </article>
            {%- endfor -%}
          </section>
        </div>
      </div>
    </section>
    <section id="more-info">
      <div id="more-info-container" class="container">
        <h1>Ulteriori informazioni</h1>
        <ul>
          <li>
            L’accesso all’evento è gratuito ma è richiesta la registrazione tramite
            <a href="{{ config.extra.event.eventbrite_url }}">Eventbrite</a>.
          </li>
          <li>
            Porta con te un laptop per partecipare attivamente alle attività
            svolte durante i workshop.
          </li>
          <li>
            Agli studenti dell’Università degli Studi di Messina saranno
            riconosciuti 0,25 CFU.
          </li>
          <li>
            Agli iscritti all’Ordine degli Ingegneri di Messina saranno
            riconosciuti 4 CFP.
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
