{%- import "macros/url.html" as url -%}

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url::stylesheet(name="main") }}" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  </head>
  <body>
    <header>
      <div id="header-container" class="container">
        <img
          id="header-logo"
          src="{{ url::image(name="logo", extension="svg") }}"
          alt="Linux Day Logo"
          />
        <div id="header-content">
          <h1>
            <span id="header-title-top">Linux Day</span>
            <span id="header-title-bottom">Messina 2024</span>
          </h1>
          <p id="header-subtitle" role="doc-subtitle">
            Giornata nazionale del software libero e delle libertà digitali
          </p>
        </div>
      </div>
    </header>
    <section id="quick-info">
      <div id="quick-info-container" class="container">
        <div class="quick-info-entry icon-group">
          <img
            src="{{ url::icon(name="calendar") }}"
            alt="Data"
            class="icon"
            />
          <p class="label">
            Sabato 26 ottobre
          </p>
        </div>
        <div class="quick-info-entry icon-group">
          <img
            src="{{ url::icon(name="location") }}"
            alt="Luogo"
            class="icon"
            />
          <p class="label">
            Dipartimento di Ingegneria
          </p>
        </div>
        <div class="quick-info-entry icon-group">
          <img
            src="{{ url::icon(name="location-2") }}"
            alt="Aula"
            class="icon"
            />
          <p class="label">
            Aula Magna
          </p>
        </div>
        <div class="quick-info-entry icon-group">
          <img
            src="{{ url::icon(name="receipt") }}"
            alt="Iscrizione"
            class="icon"
            />
          <p class="label">
            <a href="https://evenbrite.com/">
              Iscriviti!
            </a>
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
