{%- import "macros/url.html" as url -%}

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url::stylesheet(name="main") }}" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  </head>
  <body>
    <header>
      <img
        src="{{ url::image(name="logo", extension="svg") }}"
        alt="Linux Day Logo"
      />
      <div id="header-content">
        <h1>
          <span id="header-title-top">Linux Day</span>
          <span id="header-title-bottom">Messina 2024</span>
        </h1>
        <p id="header-subtitle" role="doc-subtitle">
          Giornata nazionale del software libero e delle libertà digitali
        </p>
        <div class="header-info">
          <img
            src="{{ url::icon(name="calendar") }}"
            alt="Data"
            class="header-info-icon"
          />
          <p class="header-info-content">
            Sabato 26 ottobre
          </p>
        </div>
        <div class="header-info">
          <img
            src="{{ url::icon(name="location") }}"
            alt="Luogo"
            class="header-info-icon"
          />
          <p class="header-info-content">
            Dipartimento di Ingegneria
          </p>
        </div>
        <div class="header-info">
          <img
            src="{{ url::icon(name="location-2") }}"
            alt="Aula"
            class="header-info-icon"
          />
          <p class="header-info-content">
            Aula Magna
          </p>
        </div>
      </div>
    </header>
    <section id="register">
      <img
        src="{{ url::icon(name="receipt") }}"
        alt="Registrazione"
        id="register-icon"
      />
      <p id="register-content">Registrati su Eventbrite</p>
    </section>
    <section id="schedule">
      <h1>Programma</h1>
      <article class="schedule-entry">
        <p class="schedule-time">09:00</p>
        <p class="schedule-title">Registrazione partecipanti</h1>
      </article>
      <article class="schedule-entry">
        <p class="schedule-time">09:30</p>
        <h1></h1>
        <p class="schedule-title">
          DiscCheckEmu: a new and open source approach to cracking legacy
          software
        </p>
        <p class="schedule-author">Luca D'Amico</p>
      </article>
    </section>
  </body>
</html>
